body {
    background-color: #1f2937;
    font-family: 'Roboto', 'sans-serif';
}

.header {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    display: flex;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 250px;
}

li {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
}

.start {
    margin-left: 1050px;
    display: flex;
    justify-content: space-evenly;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color:#f9faf8;

}

.container {
    font-size: 18px;
    color: #e5e7eb;

}

.black {
    max-width: 700px;
    max-height: 450px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a:visited {
    text-decoration: none;
    color: #e5e7eb;

}

a:link {
    text-decoration: none;
}

li:hover {
    text-decoration: none;
}
li:active {
    text-decoration: none;
}